*{
    font-family:arial;
}
.btn{
    background-color:#C69722;
    font-size:20px;
    color:white;
    padding:10px 20px  10px 20px;
    border-radius: 5%;
    font-family:arial;
}
.btn:hover{
    background-color:855B0E;
}
.btn-danger{
    background-color:#C69722;
    font-size:20px;
    color:white;
    padding:10px 20px  10px 20px;
    border-radius: 5%;

} 
.btn-danger:hover{
    background-color:#C60F0F;
}
.container1{
    background-color:#C69722;
    width:75%;
    border: 10px solid black;
    padding:10px;
    text-align: center;
    margin: 0 auto;
}
.flex-box-container1{
    background-color: white;
    justify-content: space-around;
    display:flex;
    border:2px solid black;
    padding:10px;
}
#flex-box-result>h2{
    background-color:#C69722;
}
.flex-box-container1 div{
    padding:10px;
}
body{
    padding-top:100px;
}